@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/Ubuntu Mono.ttf') format('truetype');
}
body {
  font-family: 'Ubuntu Mono';
  background-color: #000;
  color: #ff0000;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7px);
  overflow: hidden;
}
#score-container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-right: 10px;
}
#game-container {
  color: #00ff00;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid #ff0000;
  border-radius: 10px;
}
#input-container {
  display: flex;
}
#user-input {
  background-color: #0000aa;
  font-size: 22px;
  flex-grow: 1;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
}
#customize-colors-container {
  display: none;
}
#customize-colors-container a:link,
#customize-colors-container a:visited {
  color: magenta;
}
#customize-colors-container a:hover {
  color: #fff;
}
#set-all-text-to-single-color-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#set-all-text-to-single-color-container input[type="text"] {
  margin-top: 5px;
  margin-bottom: 5px;
}
#set-all-text-to-single-color-container button {
  margin-left: 10px;
}
#customize-individual-color-columns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
#color-column {
  display: flex;
  flex-direction: column;
  width: 32%;
}
#color-column input[type="text"] {
  margin-top: 5px;
}
#customize-individual-colors-button-container {
  margin-top: 10px;
}
/* CSS for game container messages from server */
#location-title {
  color: yellow;
  font-weight: bold;
}
#location-description {
  color: magenta;
  margin-left: 20px;
}
#item-name {
  color: cyan;
}
#exits {
  color: #33ff33;
}
#exit-to-location {
  color: yellow;
}
#exits-list, #inventory-list, #items-list {
  margin-left: 20px;
}
#npc-name {
  color: #ff0000;
}
#npc-description, #npc-stats {
  color: #cccccc;
  margin-left: 20px;
}
#player-name {
  color: magenta;
}
#combat-message-player {
  color: #00ff00;
}
#combat-message-npc {
  color: #ff0000;
}
#combat-message-health,
#combat-message,
#error-message {
  color: magenta;
}